<div style="background: linear-gradient(90deg, rgba(0, 0,0, 0.7) 0%, rgba(0,212,255,0) 100%);">
  <div class="test" style="width: 100%;">
    <div style="background: linear-gradient(90deg, rgba(0, 0,0, 0.7) 0%, rgba(0,212,255,0) 100%);">
      <div class="col-md-6">
        <h1 style="padding-top: 16%; font-size: 3vw; padding-left: 16%; color: white; padding-bottom: 16%;">
          Restez à l'affut de l'actualité du Va'a !
        </h1>
      </div>
    </div>
  </div>
</div>

<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02NNXfiQFg6uxB4WU43HoXX9PCxsHegNzhpErQoM9XjsgXnjJZjnedXQKxxGqoRFhgl%26id%3D100057143723449&show_text=true&width=500" width="500" height="610" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>