.test {
    width: 69vh;
    height: 67%;
    background-image: url("../../../assets/img/photo/kayak.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }