<div style="background: linear-gradient(90deg, rgba(0, 0,0, 0.7) 0%, rgba(0,212,255,0) 100%);">
  <div class="test" style="width: 100%;">
    <div style="background: linear-gradient(90deg, rgba(0, 0,0, 0.7) 0%, rgba(0,212,255,0) 100%);">
      <div class="col-md-6">
        <h1 style="padding-top: 16%; font-size: 3vw; padding-left: 16%; color: white; padding-bottom: 16%;">
          Trouvez le club le plus proche de chez vous !
        </h1>
      </div>
    </div>
  </div>
</div>


<section id="contact">
     <div class="row">
       <div class="col-md-12">
         <div
           id="map"
           class="map"
           style="height: 69vh"
           leaflet
           [leafletOptions]="options"
           [leafletLayers]="this.layers"
         >
         </div>
         </div>
     </div>
   </section>