.test {
    width: 69vh;
    height: 55%;
    background-image: url("../../../assets/img/photo/carousel.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }