<section class="page-section" id="about">
    <div style="background: linear-gradient(90deg, rgba(0, 0,0, 0.7) 0%, rgba(0,212,255,0) 100%);">
        <div class="test" style="width: 100%;">
          <div style="background: linear-gradient(90deg, rgba(0, 0,0, 0.7) 0%, rgba(0,212,255,0) 100%);">
            <div class="col-md-6">
              <h1 style="padding-top: 16%; font-size: 3vw; padding-left: 16%; color: white; padding-bottom: 16%;">
                Découvrez l'histoire du Va'a !
              </h1>
            </div>
          </div>
        </div>
      </div>
        <div class="container">
            <ul class="timeline mt-5">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid w-100 h-100" src="../../../assets/img/photo/histoire1.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading fs-3">Avant l'ère chrétienne</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted fs-5">
                            Colonisation polynésienne: Les Polynésiens utilisent de grandes pirogues doubles à voile (va'a tā'ie) pour coloniser de nombreuses îles du Pacifique. <br>
                            Construction traditionnelle: Les pirogues sont construites en bois, avec une voile en pandanus. La construction est un art sacré, lié à des rituels.
                        </p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid w-100 h-100" src="../../../assets/img/photo/vaa1.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading fs-3">Moyen Âge - Époque moderne</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted fs-5">
                            Usage quotidien: Le va'a devient un moyen de transport quotidien pour la pêche et les courtes distances. <br>
                            Transmission du savoir-faire: Les techniques de construction et de navigation sont transmises de génération en génération.</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid w-100 h-100" src="../../../assets/img/photo/histoire3.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading fs-3">XIXe siècle</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted fs-5">
                            Contact avec les Occidentaux: Les Polynésiens entrent en contact avec les Européens. <br>
                            Introduction de nouveaux matériaux: Des matériaux nouveaux (métal, puis composites) commencent à être utilisés dans la construction des pirogues.
                        </p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid w-100 h-100" src="../../../assets/img/photo/histoire4.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading fs-3">XXe siècle</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted fs-5">
                            Développement du sport: Le va'a se transforme en sport de compétition, notamment à Tahiti. <br>
                            Modernisation des pirogues: Les pirogues sont conçues pour la vitesse et la performance.</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid w-100 h-100" src="../../../assets/img/photo/histoire3.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading fs-2">XXIe siècle</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted fs-5">
                            Sport national à Tahiti: Le va'a est un sport très populaire, avec de nombreuses compétitions. <br>
                            Valorisation du patrimoine: Le va'a est un symbole de l'identité polynésienne et fait l'objet d'une valorisation culturelle.</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid w-100 h-100" src="../../../assets/img/logo/logo.png" alt="..." />
                    </div>
                </li>
            </ul>
        </div>
    </section>
  