<div class="container mt-5">
    <h1 class="mt-5">Bienvenue sur la page administrateur !</h1>
    <div class="d-flex flex-row justify-content-center mt-5 mb-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gestion des courses</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Ajouter / Modifier / Supprimer</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" routerLink="/competitions" class="card-link">Y aller</a>
            </div>
          </div>

          <div class="card mx-5" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Gestion des clubs</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Ajouter / Modifier / Supprimer</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" routerLink="/clubs" class="card-link">Y aller</a>
            </div>
          </div>
    </div>
</div>