<main>
  <!-- Headers -->
  <section id="headers" class="caroussel w-100">
    <div class="row">
      <div class="col-md-6"></div>
      <div
        style="height: 69vh"
        class="col-md-6 d-flex justify-content-center align-items-center"
      >
        <div class="row">
          <div>
            <h1 class="text-uppercase libre-bold" style="font-size: 62px">
              Embarquez-vous où <br />
              la passion vous mène, <br />
            </h1>
            <h2
              class="text-uppercase libre-bold text-end"
              style="font-size: 62px; color: red; padding-right: 5vh"
            >
              INSCRIS TOI !
            </h2>
            <p
              class="text-end libre-regular"
              style="font-size: 30px; padding-right: 5vh"
            >
              Naviguez vers l'aventure et trouvez le club qui vous correspond,
              que ce soit sur Terre ou sur l'Eau !
            </p>
          </div>
          <div class="text-end" style="font-size: 30px; padding-right: 7vh">
            <button
              routerLink="/contact"
              class="btn btn-light libre-bold mx-auto mt-5 text-danger w-25"
              style="border-radius: 50px"
            >
              Club parfait
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="marketing mt-5">
    <div class="container">
      <div class="row">
        <h1 class="text-center mt-5">Découvrez nos sports nautiques</h1>
        <div class="container">
          <div class="intro mt-5">
            <img
              class="intro-img img-fluid mb-3 mb-lg-0 rounded shadow"
              src="../../assets/img/DSC05626.jpg"
              alt="..."
            />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4">
                <!-- <span class="section-heading-upper">LCVCK</span> -->
                <span class="section-heading-lower">Va'a</span>
              </h2>
              <p class="mb-3">
                Le va'a, c'est bien plus qu'une simple embarcation. C'est un
                héritage ancestral polynésien, un moyen de transport
                traditionnel et aujourd'hui, un sport passionnant. De la pêche
                aux grandes traversées, le va'a a rythmé la vie des Océaniens
                pendant des siècles. Rejoignez-nous pour découvrir cette
                discipline unique qui allie tradition, performance et respect de
                la nature.
              </p>
            </div>
          </div>
        </div>
        <div class="intro intro-2 mt-5">
          <div class="intro-text-1 right-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <!-- <span class="section-heading-upper">LCVCK</span> -->
              <span class="section-heading-lower">Kayak</span>
            </h2>
            <p class="mb-3">
              "Glissez sur l'eau, respirez l'air pur et laissez-vous emporter
              par la nature. Le canoë-kayak, c'est l'évasion garantie. Une
              expérience unique qui vous connecte à l'environnement tout en
              tonifiant votre corps."
            </p>
          </div>
          <img
            class="intro-img-1 img-fluid mb-3 mb-lg-0 rounded shadow"
            src="../../assets/img/canoe.jpg"
            alt="..."
          />
        </div>
      </div>
    </div>

    <!-- Découvrez le Va'a -->

    <div class="test mt-5" style="width: 100%;">
      <div class="row" style="background: linear-gradient(90deg, rgba(0, 0,0, 0.7) 0%, rgba(0,212,255,0) 100%);">
        <div class="col-md-6">
          <h1 style="padding-top: 16%; font-size: 7vw; padding-left: 16%; color: white;">
            Découvrez le Va'a
          </h1>
          <p style="font-size: 2vw; padding-left: 16%; color: white;">
            Vivez de nouvelles sensations et expériences au rythme de l'eau !
          </p>
        </div>
        <div class="row">
          <div class="col-md-5 mb-5 mx-auto">
            <button class="btn btn-primary ">En savoir plus ></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Clubs -->
    <div class="test-1" style="width: 100%">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <h1 style="padding-top: 16%; font-size: 7vw; padding-left: 16%; color: white;">
            Ramez au plus près de chez vous
          </h1>
          <p style="font-size: 2vw; padding-left: 16%; color: white;">
           Trouvez un club à proximité et commencez l'aventure !
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-5 mx-auto">
          <button class="btn btn-primary ">Rechercher</button>
        </div>
      </div>
    </div>

     <!-- Découvrez le Va'a -->
    <div class="test" style="width: 100%">
      <div class="row">
        <div class="col-md-6">
          <h1 style="padding-top: 16%; font-size: 7vw; padding-left: 16%; color: white;">
            Découvrez le Va'a
          </h1>
          <p style="font-size: 2vw; padding-left: 16%; color: white;">
            Vivez de nouvelles sensations et expériences au rythme de l'eau !
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-5 mx-auto">
          <button class="btn btn-primary ">En savoir plus ></button>
        </div>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          Vivez l'inattendu :
          <span class="text-body-secondary">Évènements</span>
        </h2>
        <p class="lead">
          Ne manquez aucun moment fort, plongez au coeur de l'action
        </p>
        <button routerLink="/evenements" class="btn btn-primary">
          Voir les évènements
        </button>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="../../assets/img/ligue.jpg"
          class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow"
          width="500"
          height="500"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          Nos résultats :
          <span class="text-body-secondary">l'action des compétitions</span>
        </h2>
        <p class="lead">Du podium à la ligne d'arrivée, ne manquez rien</p>
        <button routerLink="/competitions" class="btn btn-primary">
          Voir les résultats
        </button>
      </div>
      <div class="col-md-5">
        <img
          src="../../assets/img/ligue.jpg"
          class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow"
          width="500"
          height="500"
        />
      </div>
    </div>
    <hr class="featurette-divider" />
  </div>
  <section id="contact">
    <h1 class="text-center">Contacts</h1>
    <div class="row">
      <div class="col-md-12 mt-5">
        <div
          id="map"
          class="map"
          style="height: 69vh"
          leaflet
          [leafletOptions]="options"
          [leafletLayers]="this.layers"
        ></div>
      </div>
    </div>
  </section>
  <button>
    <a (click)="createUser()" class="btn btn-primary">Contactez-nous</a>
  </button>
</main>
