  .title-presentation {
    font-size: 2.5rem;
    font-weight: 300;
    color: red;
    text-align: center;
    margin-top: 2rem;
  }

  @media screen and (max-width: 768px) {
    .jumbotron {
      display: none;
    }
    
  }