<main>
  <div>
    <!-- Découvrez le Va'a -->
    <div class="decouverte" style="width: 100%;">
      <div class="row degradee-droite">
        <div class="col-md-6">
          <h1 class="titre-accueil">
            Découvrez le Va'a
          </h1>
          <p class="paragraphe-accueil">
            Vivez de nouvelles sensations et expériences au rythme de l'eau ! <br>
            <button routerLink="/histoire" class="btn btn-light fw-bold mx-auto mt-5 mb-5 shadow bouton-accueil br-25"><span class="span-accueil">En savoir plus ></span></button>
          </p>
        </div>
      </div>
    </div>

    <!-- Clubs -->
    <div class="club" style="width: 100%;">
      <div class="row degradee-gauche">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <h1 class="titre-accueil">
            Ramez au plus près de chez vous
          </h1>
          <p class="paragraphe-accueil">
            Trouvez un club à proximité et commencez l'aventure ! <br>
            <button routerLink="/clubs" class="btn btn-light fw-bold mx-auto mt-5 mb-5 shadow bouton-accueil  br-25"><span class="span-accueil">Rechercher</span></button>
          </p>
        </div>
      </div>
    </div>

    <!-- Découvrez le Va'a -->
    <div class="statisk" style="width: 100%">
      <div class="row degradee-droite">
        <h1 class="titre-accueil-vaa">
          Le Va'a en NC c'est 
        </h1>

        <div class="d-flex mb-5 mt-5">
          <h5 class="paragraphe-accueil-vaa">
            500 licenciés
          </h5>
          <h5 class="paragraphe-accueil-vaa">
            Loisir et compétition
          </h5>
          <h5 class="paragraphe-accueil-vaa">
            + de 15 clubs
          </h5>
        </div>
      </div>
    </div>

    <div class="athletes" style="width: 100%;">
      <div class="row degradee-droite">
        <div class="col-md-6">
          <h1 class="titre-accueil">
            Nos athlètes en vidéo
          </h1>
          <p class="paragraphe-accueil">
            Découvrez les portraits en vidéo de certains de nos rameurs et rameuses. <br>
            <button routerLink="/documentaires" class="btn btn-light mx-auto mt-5 fw-bold mb-5 bouton-accueil br-25"><span class="span-accueil">Voir les portraits</span></button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-back-to-top></app-back-to-top>
</main>
