<main>
  <section id="headers">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="row">
        <div>
          <h1>
            <span class="title-presentation fw-bold">L</span>igue
            <span class="title-presentation fw-bold">C</span>alédonienne de
            <span class="title-presentation fw-bold">V</span>a'a
          </h1>
          <h1>
            et de
            <span class="title-presentation fw-bold">C</span>anoé
            <span class="title-presentation fw-bold">K</span>ayak
          </h1>
          <button class="btn btn-danger mt-5">Contacter un club</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <img src="../../assets/carousel.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<section id="sport-nautiques">
  <h2 class="text-center mt-3">Nos sports nautiques</h2>
  <div class="d-flex justify-content-center mt-4">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="mx-3"></div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>
<section id="actualites">
  <h2 class="text-center mt-3">Nos dernières actualités</h2>
  <div class="d-flex justify-content-center mt-4">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="mx-3"></div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="mx-3"></div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>
</main>
