  .title-presentation {
    font-size: 2.5rem;
    font-weight: 300;
    color: red;
    text-align: center;
    margin-top: 2rem;
  }

  .featurette-divider {
    margin: 5rem 0;
  }
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }

  .custom-icon img {
    width: 25px;  /* Ajustez selon vos besoins */
    height: 41px; /* Ajustez selon vos besoins */
    display: block;
  }
  

  @media screen and (max-width: 768px) {
    .jumbotron {
      display: none;
    }
    
  }

  @media (min-width: 40em) {
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }