<iframe
  width="1920"
  height="720"
  src="https://www.youtube.com/embed/gzDa5YqhFfM?si=D4wTn67UO_Y7jZVd"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
>
</iframe>

<div class="text-start">
  <h1 class="mx-2">La sensation de glisse - une expérience unique</h1>
  <p class="mx-2">
    Voici notre mini documentaire mettant en avant les jeunes talents
    calédoniens nous décrivant la sensation de glisse. En effet, la sensation de
    glisse est propre à chacun qui peut être influencée par la culture ou par
    l’éducation.
  </p>
</div>

<div class="d-flex justify-content-center">
  <div class="me-3">
    <blockquote
      class="tiktok-embed"
      cite="https://www.tiktok.com/@lcvck_nc/video/7359005248616172816"
      data-video-id="7359005248616172816"
      style="max-width: 605px; min-width: 325px"
    >
      <section>
        <a
          target="_blank"
          title="@lcvck_nc"
          href="https://www.tiktok.com/@lcvck_nc?refer=embed"
          >lcvck_nc</a
        >
        Ça pousse fort ici à la compet&#39; 🔥🔥🔥🔥🔥
        <a
          title="vaa"
          target="_blank"
          href="https://www.tiktok.com/tag/vaa?refer=embed"
          >#vaa</a
        >
        <a
          title="newcal"
          target="_blank"
          href="https://www.tiktok.com/tag/newcal?refer=embed"
          >#newcal</a
        >
        #lcvck
        <a
          title="sports"
          target="_blank"
          href="https://www.tiktok.com/tag/sports?refer=embed"
          >#sports</a
        >
        <a
          title="nopainnogain"
          target="_blank"
          href="https://www.tiktok.com/tag/nopainnogain?refer=embed"
          >#nopainnogain</a
        >
        <a
          title="sea"
          target="_blank"
          href="https://www.tiktok.com/tag/sea?refer=embed"
          >#sea</a
        >
        <a
          title="pacificocean"
          target="_blank"
          href="https://www.tiktok.com/tag/pacificocean?refer=embed"
          >#pacificocean</a
        >
        <a
          title="pourtoi"
          target="_blank"
          href="https://www.tiktok.com/tag/pourtoi?refer=embed"
          >#pourtoi</a
        >
        <a
          target="_blank"
          title="♬ original sound  - LCVCK"
          href="https://www.tiktok.com/music/original-sound-LCVCK-7359005367826696977?refer=embed"
          >♬ original sound - LCVCK</a
        >
      </section>
    </blockquote>
  </div>
  <div>
    <blockquote
      class="tiktok-embed"
      cite="https://www.tiktok.com/@lcvck_nc/video/7365303447933013256"
      data-video-id="7365303447933013256"
      style="max-width: 605px; min-width: 325px"
    >
      <section>
        <a
          target="_blank"
          title="@lcvck_nc"
          href="https://www.tiktok.com/@lcvck_nc?refer=embed"
          >lcvck_nc</a
        >
        🌟 Première Compétition Officielle de la LCVCK 🌟 📅 4 mai 2024 📍
        Anse-Vata Sous la direction énergique de Madame Chantreux, nous avons le
        plaisir de vous annoncer le premier championnat mixte V3 de la LCVCK !
        🛶🚣‍♀️🚣 Un moment historique qui a rassemblé avec enthousiasme les clubs
        du Sud dans une ambiance compétitive et festive. Célébrons ensemble
        cette étape majeure pour notre communauté de va&#39;a!
        <a
          title="vaacanoe"
          target="_blank"
          href="https://www.tiktok.com/tag/vaacanoe?refer=embed"
          >#VaACanoe</a
        >
        <a
          title="championnatmixte"
          target="_blank"
          href="https://www.tiktok.com/tag/championnatmixte?refer=embed"
          >#ChampionnatMixte</a
        >
        <a
          title="premierecourse"
          target="_blank"
          href="https://www.tiktok.com/tag/premierecourse?refer=embed"
          >#PremiereCourse</a
        >
        <a
          title="lcvck2024"
          target="_blank"
          href="https://www.tiktok.com/tag/lcvck2024?refer=embed"
          >#LCVCK2024</a
        >
        <a
          target="_blank"
          title="♬ son original - LCVCK"
          href="https://www.tiktok.com/music/son-original-7365303618725088016?refer=embed"
          >♬ son original - LCVCK</a
        >
      </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
  </div>
</div>
