<iframe
  width="1920"
  height="720"
  src="https://www.youtube.com/embed/gzDa5YqhFfM?si=D4wTn67UO_Y7jZVd"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
>
</iframe>

<div class="text-start">
  <h1 class="mx-2">La sensation de glisse - une expérience unique</h1>
  <p class="mx-2">
    Voici notre mini documentaire mettant en avant les jeunes talents
    calédoniens nous décrivant la sensation de glisse. En effet, la sensation de
    glisse est propre à chacun qui peut être influencée par la culture ou par
    l’éducation.
  </p>
</div>

<div class="d-flex justify-content-center">
    <div class="me-3">
        <iframe
        width="800"
        height="600"
        src="https://www.youtube.com/embed/gzDa5YqhFfM?si=D4wTn67UO_Y7jZVd"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
    <div>
        <iframe
        width="800"
        height="600"
        src="https://www.youtube.com/embed/gzDa5YqhFfM?si=D4wTn67UO_Y7jZVd"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
</div>
