<div class="container">
  <a routerLink="/accueil" class="btn btn-primary mt-5">Retour à l'accueil</a>
  <h1 class="mt-5">Fil d'actualités :</h1>
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-between">
      <div class="card" style="width: 18rem" *ngFor="let article of articles">
        <img
          src="../../../../assets/img/actualite1.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.content }}</p>
          <a
            routerLink="/actualites/article/{{article.id}}"
            class="btn btn-primary"
            >Voir plus</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
