.custom-facebook-feed {
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    right: 5px;
  }
  