<div class="container">
    <a routerLink="/accueil" class="btn btn-primary mt-5">Retour à l'accueil</a>
    <h1 class="mt-5">Fil d'actualités :</h1>
    <div class="row mt-5">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/img/actualite1.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Titre de l'actualité</h5>
                    <p class="card-text">
                        Description de l'actualité
                    </p>
                    <a routerLink="/actualites/article={id}" class="btn btn-primary">Voir plus</a>

</div>