<div class="py-1 w-100">
  <footer>
    <section id="contact">
      <div class="row w-100">
        <div [ngClass]="this.router.url !== '/actualites' ? 'col-md-6' : 'col-md-12'">
          <div class="d-flex justify-content-center">
            <img src="../../assets/img/logo/lcvck.jpg" class="mx-auto img-fluid" alt="Logo">
          </div>
          <div class="container">
            <div class="d-flex align-items-center flex-column">
              <div class="d-flex align-items-center flex-column">
                <img src="../../assets/img/icon/phone_8633157.png" class="img-fluid" width="50" height="50" alt="Phone Icon">
                <p class="mt-2">Tel : 79 . 10 . 08</p>
              </div>
              <div class="d-flex justify-content-center mt-4">
                <a class="mx-2" href="https://www.facebook.com/p/Ligue-Caledonienne-De-VAA-ET-CANOE-KAYAK-100057143723449/?locale=fr_FR">
                  <img src="../../assets/img/icon/facebook_1051360.png" class="img-fluid" width="50" height="50" alt="Facebook Icon">
                </a>
                <a class="mx-2" href="https://www.instagram.com/lcvck_nc/?hl=fr">
                  <img src="../../assets/img/icon/application_15072085.png" class="img-fluid" width="50" height="50" alt="Instagram Icon">
                </a>
                <a class="mx-2" href="https://www.tiktok.com/@lcvck_nc?refer=embed">
                  <img src="../../assets/img/icon/tik-tok_3046125.png" class="img-fluid" width="50" height="50" alt="TikTok Icon">
                </a>
              </div>
              <a href="mailto:drouet@lagoon.nc" class="mt-4">Ligue Calédonienne de Va'a et de Canoë Kayak</a>
              <img src="../../assets/img/icon/email_8952677.png" class="mt-3" width="50" height="50" alt="Email Icon">
              <a href="mailto:sec.lcvck@gmail.com" class="mt-2">drouetrb&#64;lagoon.nc</a>
              <div class="d-flex justify-content-center mt-5">
                <a href="#" class="mx-3">Mentions légales</a>
                <a href="#" class="mx-3">Politique de confidentialité</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="this.router.url !== '/actualites'" class="col-md-6 mt-5 mb-5">
          <div
            id="map"
            class="map w-100"
            style="height: 69vh"
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="this.layers"
          ></div>
        </div>
      </div>
    </section>
  </footer>
</div>
