<div class="container py-5" style="width: 30%">
  <img src="../../../../assets/img/logo.png" alt="" />
  <form (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Adresse Mail :</label>
      <input
        type="email"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Mot de passe :</label
      >
      <input
        type="password"
        class="form-control"
        [(ngModel)]="password"
        name="password"
        required
        id="exampleInputPassword1"
      />
    </div>
    <button type="submit" class="btn btn-primary">Connexion</button>
  </form>
</div>


