/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variable overrides first
$primary: #DC281E;
$enable-shadows: true;
$prefix: "mo-";

// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #DC281E;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/leaflet/dist/leaflet.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: 'Abnes';
  src: url('./assets/fonts/abnes/abnes.otf') format('trueType');
}

@font-face {
  font-family: 'LibreRegular';
  src: url('./assets/fonts/libre/LibreBaskerville-Regular.ttf') format('trueType');
}

@font-face {
  font-family: 'LibreBold';
  src: url('./assets/fonts/libre/LibreBaskerville-Bold.ttf') format('trueType');
}

@font-face {
  font-family: 'LibreItalic';
  src: url('./assets/fonts/libre/LibreBaskerville-Italic.ttf') format('trueType');
}

ul {
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
a:visited {
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}
html, body { height: 100%; }


html, body {
  margin: 0;
  font-family: 'Muli';
}

a {
  text-decoration: none;
}

.abnes {
  font-family: 'Abnes';
}

.libre-bold {
  font-family: 'LibreBold';
}

.libreRegular {
  font-family: 'LibreRegular';
}